.button {
  box-sizing: content-box !important;
  font-weight: 300;
  padding: 0.5rem 3rem;
  display: inline;
  text-decoration: none !important;
  display: block;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  cursor: pointer;

  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #4e4e4d;
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  .big {
    font-size: 1.5rem;
  }
}

.btn-reverse {
  background-color: #fff;
  color: #e89d38;
  &:hover {
    color: #e89d38;
  }
}
.btn-default {
  background-color: #e89d38;
  color: #fff !important;
}
.btn-size-default {
  font-size: 1.5rem;
}
.btn-small {
  font-size: 1rem;
}
