.category-Card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 250px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  border: solid 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin: 1rem 0.25rem;
  cursor: pointer;
  .title {
    color: rgb(29, 29, 29);
  }
}
