.AboutUsContainer {
  text-align: center;
  color: #000;
  // @media only screen and (min-width: 1000px) {
  //   width: 50%;
  // }
  margin: 0 auto;
  padding: 3rem 0;
  .textContainer {
    width: 75%;
    margin: 0 auto;
  }
  .imageWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 750px) {
      flex-direction: column;
    }
  }
  .singleImageContainer {
    margin: 1rem;
    width: 35rem;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }
}
