.itemContainer {
  padding: 4rem 0 2rem 0;
  .specificationInfo {
    list-style: symbols("-");
    padding-left: 1rem;
  }
  .rightSide {
    @media only screen and (max-width: 760px) {
      margin-top: 1.5rem;
    }
  }
  .priceContainer {
    width: 15rem;
  }
  .priceContainer * {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .regularPrice {
    font-weight: inherit;
    text-decoration: line-through;
    letter-spacing: 1.5px;
    text-align: left;
  }
  .actualPrice {
    font-size: 1.5rem;
    color: #e89d38;
    font-weight: bold;
    font-weight: medium;
  }
  .similarTitle {
    font-weight: 400;
    margin-top: 2rem;
    padding-left: 1rem;
  }
  .button {
    border: none;
    background-color: #e89d38;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #fff;
    letter-spacing: 1.5px;
    padding: 0.5rem 2.5rem;
  }
}

.carouselItem {
  @media only screen and (max-width: 1200px) {
    max-height: 300px;
  }
  @media only screen and (max-width: 1000px) {
    max-height: 220px;
  }
  @media only screen and (max-width: 360px) {
    max-height: 195px;
  }
  width: 100%;
}
