@mixin horizontalLines() {
  content: "";
  width: 150px;
  height: 2px;
  position: absolute;
  top: 50%;
  background: rgb(223, 221, 221);
  // transform: translate(0, -50%);
  border-radius: 5px;
  @media only screen and (max-width: 1000px) {
    width: 20vw;
  }

  @media only screen and (max-width: 750px) {
    width: 15vw;
  }
}
.titleContainer {
  width: 100%;
  text-align: center;

  .title {
    font-size: 2.5rem;
    display: inline;
    position: relative;
    font-weight: 500;
    color: rgb(70, 70, 70);
    text-transform: uppercase;
    &::before {
      @include horizontalLines();
      right: 110%;
    }
    &::after {
      @include horizontalLines();
      left: 110%;
    }

    @media only screen and (max-width: 1000px) {
      font-size: 2.5rem;
    }

    @media only screen and (max-width: 750px) {
      font-size: 1.7rem;
    }
  }
}
