.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-transform: uppercase;
  @media only screen and (max-width: 1000px) {
    font-size: 2.5rem;
  }
  .mainColor {
    color: #d69a4a;
  }
}
