@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");

$mainColor: #d69a4a;
$darkColor: #373737;
$darkColorSecondary: #484747;
$whiteColor: #fff;
$whiteColorSecondary: #efefef;

html {
  font-family: "Poppins", sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-content {
  min-height: calc(100vh - (61px + 154px));
  @media only screen and (max-width: 1000px) {
    min-height: calc(100vh - (32px + 154px));
  }
  @media only screen and (max-width: 600px) {
    min-height: calc(100vh - (29px + 154px));
  }
}

.container-padding {
  padding: 4rem;
  @media only screen and (max-width: 400px) {
    padding: 4rem 0;
  }
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 40%;
  padding: 2rem 0;
  text-align: center;
  @media only screen and (max-width: 1000px) {
    padding: 1.5rem 0;
  }
  @media only screen and (max-width: 700px) {
    width: 80%;
  }
  @media only screen and (max-width: 450px) {
    padding: 1rem 0;
  }
}
.hero-header {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  span {
    color: #d69a4a;
  }
  @media only screen and (max-width: 450px) {
    font-size: 3rem;
  }
}
.submit-button {
  width: 100%;
  border: none;
  background: #d69a4a;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  color: #fff;
  font-weight: bold;
}
.navbar-brand img {
  position: relative;
  height: 2.5rem !important;
}

.not-found-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
