.mostSold {
  .mostSoldContainer {
    padding: 3rem 5rem;
    @media only screen and (max-width: 1000px) {
      padding: 3rem 1rem;
    }
  }
  .cardContainer {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (min-width: 1300px) {
      justify-content: space-between;
    }
  }
  .mostSoldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttonContainer {
    margin-top: 1rem;
  }
}
