.mostSold {
  padding: 12rem 0 10rem 0;
  @media only screen and (max-width: 1000px) {
    padding: 1rem 0 3rem 0;
  }
  .mostSoldContainer {
    @media only screen and (max-width: 1000px) {
      padding: 3rem 1rem;
    }
    @media only screen and (max-width: 600px) {
      padding: 3rem 0;
    }
  }
  .cardContainer {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 600px) {
      margin-top: 1rem;
    }
  }
  .mostSoldContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
    @media only screen and (max-width: 1000px) {
      margin-top: 2rem;
    }
    @media only screen and (max-width: 600px) {
      width: 85%;
    }
  }
}
