.showBackdrop {
  display: block !important;
  opacity: 1;
  animation: backdropAnimation 0.3s ease;
}
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;

  .modalMain {
    a {
      text-decoration: none;
      color: #000;
    }
    span {
      display: block;
      margin: 1rem 0;
    }
    padding: 2rem;
    text-align: center;
    @media only screen and (max-width: 600px) {
      padding: 2rem 0.5rem;
    }
    .contactContainer {
      @media only screen and (max-width: 600px) {
        font-size: 0.9rem;
        font-weight: medium;
      }
      padding: 0.5rem 0;
      &:hover {
        background-color: #e89d38;
        color: #fff;

        & .iconContainer {
          background-color: #fff;
          svg {
            color: #e89d38;
          }
        }
      }
      .iconContainer {
        background-color: #e89d38;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        svg {
          font-size: 1rem;
          color: #fff;
        }
      }
    }
    .button {
      margin-top: 0.5rem;
    }
  }
  .modal-content {
    border-radius: 5px;
    position: absolute;
    width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    background: #fff;
    @media only screen and (max-width: 600px) {
      width: 80%;
    }
    .modalClose {
      font-size: 2rem;
      color: #e89d38;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      cursor: pointer;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .modalShow {
    animation: modalAnimation 0.4s ease-out;
  }
}

@keyframes modalAnimation {
  0% {
    opacity: 0;
    top: -99999px;
  }
  50% {
    opacity: 0.5;
    top: -75%;
  }
  100% {
    top: 50%;
  }
}
@keyframes backdropAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
