.contacts {
  text-align: center;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  padding-bottom: 15px;
  position: relative;
  &::before {
    position: absolute;
    bottom: 4px;
    content: " ";
    display: block;
    height: 1px;
    width: 670px;
    background-color: #f09922;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 1000px) {
      font-size: 0.75rem;
    }
    @media only screen and (max-width: 800px) {
      display: none;
    }
    &:not(:first-child) {
      margin-left: 1.5rem;
      @media only screen and (max-width: 800px) {
        margin-left: 0.75rem;
      }
    }
    svg {
      margin-right: 0.25rem;
    }
  }
}

.footer {
  text-align: center;

  .copyright {
    font-size: 0.85rem;
    @media only screen and (max-width: 1000px) {
      font-size: 0.75rem;
    }
  }
}
