.itemContainer {
  padding: 3rem 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  @media only screen and (min-width: 1700px) {
    width: 1900px;
    margin: 0 auto;
  }
  @media only screen and (max-width: 1350px) {
    padding: 3rem 3rem;
  }
  @media only screen and (max-width: 1100px) {
    padding: 3rem 0;
  }
  @media only screen and (max-width: 750px) {
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .sidebar {
    align-self: stretch !important;
    flex: 1;
  }
  .notFound {
    padding: 2rem;
    font-size: 0.8rem;
  }
  .items {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    @media only screen and (max-width: 750px) {
      justify-content: center;
    }
  }
}
